<html>

  <head>
    <title>guest-book</title>
    <link rel="stylesheet" href="css/flower-catalog.css">
    <script src="scripts/submit.js"></script>
    <script src="scripts/xhr.js"></script>
    <script src="scripts/loadComments.js"></script>
  </head>

  <body>
    <div class="page-wrapper">
      <h2>
        <a href="index.html">&#60;&#60;</a>
        Guest Book
      </h2>
      <div class="guest-book">
        <h3>Leave a comment</h3>

        <form action="/guest-book/add-comment" method="post">
          <div>
            <label for="comment">
              Comment :
              <textarea type="text" name="message"></textarea>
            </label>
          </div>
          <div>
            <input type="button" value="Send" onclick="submitComment()">
            <!-- <input type="submit" value="Submit"> -->
            </div>
        </form>

      </div>
      <section>
        <table id="comments-table">
        </table>
      </section>

    </div>
  </body>

</html>
