<html>

  <head>
    <title>guest-book</title>
    <link rel="stylesheet" href="css/flower-catalog.css">
    <script src="submit.js"></script>
    <script src="xhr.js"></script>
    <script src="loadComments.js"></script>
  </head>

  <body>
    <div class="page-wrapper">
      <h2>
        <a href="flower-catalog.html">&#60;&#60;</a>
        Guest Book
      </h2>
      <div class="guest-book">
        <h3>Leave a comment</h3>

        <form action="add-comment" method="post">
          <div>
            <label for="comment">
              Comment :
              <textarea type="text" name="message"></textarea>
            </label>
          </div>
        </form>
        <div>
          <input type="button" value="Submit" onclick="submitComment()">
        </div>

      </div>
      <section>
        <table id="comments-table">
        </table>
      </section>

    </div>
  </body>

</html>
