<html>

  <head>
    <title>guest-book</title>
    <link rel="stylesheet" href="css/flower-catalog.css">
  </head>

  <body>
    <div class="page-wrapper">
      <h2>
        <a href="flower-catalog.html">&#60;&#60;</a>
        Guest Book
      </h2>
      <div class="guest-book">
        <h3>Leave a comment</h3>

        <form action="add-comment">
          <div>
            <label for="name">
              Name :
              <input type="text" name="name">
            </label>
          </div>
          <div>
            <label for="comment">
              Comment :
              <textarea type="text" name="message"></textarea>
            </label>
          </div>
          <div><input type="submit" value="Submit"></div>
        </form>

      </div>
      <section>
        <table>
          <tr>
            <th>DATE, TIME</th>
            <th>NAME</th>
            <th>COMMENTS_LIST</th>
          </tr>
          _DATE_TIME_NAME_COMMENTS_LIST_
        </table>
      </section>

    </div>
  </body>

</html>
